* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a {
    transition: all 0.3s;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    font-size: 14px;
    line-height: 16px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
    width: 980px;
    margin: 0 auto;
    padding: 15px 0;
}

header {
    background: #7998b2;
}
header .container {
    overflow: hidden;
}
.logo {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    padding: 0;
    float: left;
}
.nav {
    float: right;;
}
.nav li {
    display: inline-block;
    padding: 0;
}
.nav li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    padding: 0 15px;
    font-weight: 500;
}
.nav li a:hover {
    background: rgba(0,0,0,0.3);
}
.content {
    padding-bottom: 30px;
}
.content .container {
    overflow: hidden;
}
.content section {
    width: 70%;
    float: left;
    box-sizing: border-box;
    padding: 0 25px 0;
}
section h1 {
    font-size: 24px;
    margin: 20px 0;
}
section p {
    font-size: 14px;
    margin-bottom: 15px;
}
.content aside {
    width: 30%;
    float: right;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ed6d37;
    border-radius: 10px;
    margin-top: 10px;
}
aside h2 {
    margin: 10px 0;
    text-align: center;
}
aside .block {
    border-bottom: 0.5px dashed #ccc;
    padding: 10px 0;
    margin-bottom: 15px;
}
aside .block:last-child {
    border: none;
}
aside .block h3 {
    padding-bottom: 10px;
}

footer {
    background: #ed6d37;
    padding: 30px 0;
}
footer .container {
    overflow: hidden;
}
.footer-logo {
    color: #7998b2;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
}
.footer-nav {
    float: right;
}
.footer-nav li {
    display: inline-block;
}
.footer-nav li a {
    padding: 0 15px;
    color: #fff;
}
.footer-nav li a:hover {
    text-decoration: underline;
}












