body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: orange;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
    width: 980px;
    margin: 30px auto;
    border: 6px solid #282c34;
    border-radius: 12px;
    padding: 15px 0;
    text-align: center;
    background: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
}

.film {
    width: 30%;
    display: inline-block;
    margin: 0 1.5%;
    overflow: hidden;
    border: 1px solid #282c34;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: center;
}

.film h3 {
    margin: 0 0 20px;
    text-align: left;
}

.film p {
    text-align: left;
    font-size: 14px;
    margin: 0 0 20px;
}

.film p span {
    color: #666;
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
}

.film img {
    display: block;
    width: 100%;
    height: auto;
}

